$bgc: hsla(0, 0%, 100%, 0.3);
$colorText: #fff;
$borderRadius: 1.5625em;
$fontWeightBold: 700;
$smallerBorderRadius: 0.9375em;
$paddingsForInput: 1.25em 0.9375em;
$mostSmallPadding: 0.625em;
$fontWeightSemi: 600;
$standartPadding: 1em;
